@charset "UTF-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Helvetica neue, Arial;
	color: #232323;
}

.main-content {
	margin: 50px 20px 0;
	text-align: center;
	background-color: #E1E1E1;
	padding: 30px;
	border-radius: 8px;
}

.link {
	margin-top: 10px;
	display: inline-block;
	background-color: #FFF;
	color: #434343;
	text-decoration: none;
	padding: 10px;
	border: 1px solid #434343;
	transition: .2s ease-out;
}

.link:hover {
	background-color: #434343;
	border-color: #FFF;
	color: #FFF;
}

/* Page Fader Below */
#page-fader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	z-index: 9999;
	pointer-events: none;
	animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

#page-fader.fade-in-page {
	opacity: 0;
    animation-name: fade-in-page;
}
@keyframes fade-in-page {
    from { opacity: 1 }
	to { opacity: 0 }
}

#page-fader.fade-out-page {
	opacity: 1;
	animation-name: fade-out-page;
}
@keyframes fade-out-page {
	from { opacity: 0 }
	to { opacity: 1 }
}